---
import Header from '../components/Header.astro'

const title = 'Dipshan Adhikari | Full-stack JavaScript Developer',
	desc =
		'I am a 14-year-old full stack web developer with a passion for technology and programming. With skills in JavaScript, React, Express and more, I am dedicated to constantly learning and improving in the field with the ultimate goal of becoming a software engineer.',
	image = 'open-graph-image.jpg'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="logo.png" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>

		<meta name="title" content={title} />
		<meta name="description" content={desc} />
		<meta
			name="keywords"
			content="portfolio website dipshan adhikari fullstack javascript web developer biratnagar react next node express next mongodb typescript"
		/>
		<meta name="author" content="Dipshan Adhikari" />
		<meta name="copyright" content="Dipshan Adhikari" />
		<meta name="robots" content="index, follow" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} /><meta
			property="og:description"
			content={desc}
		/>
		<meta property="og:url" content="https://dipshanadhikari.com.np" />
		<meta property="profile:username" content="@dipshanadh" />
		<meta property="og:image" content={image} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:site" content="@dipshanadh" />
		<meta name="twitter:description" content="{desc}" />
		<meta name="twitter:image" content={image} />
		<meta name="twitter:image:alt" content={title} />

		<link rel="preconnect" href="https://fonts.googleapis.com" /><link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-[#fcfcfc]">
		<Header />
	</body>
</html>
